Django==1.4.1
dj-database-url==0.2.1
ipython==0.13
psycopg2==2.4.5
django-debug-toolbar==0.9.4
sorl-thumbnail==11.12
gunicorn==0.14.6
django-compressor==1.2
South==0.7.5
django-sslify==0.2
-e git://github.com/jamstooks/django-s3-folder-storage.git#egg=django_s3_folder_storage-dev
newrelic