{% extends "main/base.html" %}

{% block content %}

  <div class="row">
    <div class="span12">
      <h1>About Me</h1>
      <p>
        My name is Hyung Ho Lee.  An ordinary man, father of three children and husband of a lovely wife.  My mission is to help bring peace in this world and find others that may contribute to this goal together.  Feel free to e-mail me at hhlee at multiplazas.com.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h1>World with God</h1>
      <p>
        This campaign is part of the World with God campaign.  Reference the origins of campaign for understanding the intrinsic nature of God: <a href="http://www.worldwithgod.org">http://www.worldwithgod.org</a>
      </p>
    </div>
  </div>

{% endblock content %}